@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

.hero-section {
  position: relative;
  height: 14rem;
  width: 100%;
  overflow: hidden;
  background-color: $color-black;

  &__content {
    color: $color-saltpan;
    text-align: center;
    z-index: 2;
  }

  &__title {
    display: flex;
    justify-content: flex-end;
    font-family: "Gupter-regular";
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem $color-shadow;
  }

  &__subtitle {
    display: flex;
    justify-content: flex-end;
    font-family: "Montserrat-italic";
    font-size: 0.8rem;
    margin: 0;
    line-height: 1.5;
    text-shadow: 0.0625rem 0.0625rem $color-shadow;
    color: $color-saltpan;
  }
}

@include tablet {
  .hero-section {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@include desktop {
  .hero-section {
    padding: 2.25rem 8.75rem;
    &__title {
      padding-bottom: 24px;
    }
  }

 
}
