@use 'sass:color';

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors for Log in

$primary-color: #4caf50; 
$secondary-color: #ffffff;
$error-color: #f44336;

//colors homepage

$color-blue: #004E7C;
$color-red: #D94E4E;
$color-box-yellow: #F4C430;
$color-white: #FFFFFF;
$color-shadow: rgba(0, 0, 0, 0.5);
$overlay: rgba(0, 0, 0, 0.6);
$color-red-orange: #FF6F61;
$color-muted-green: #93C572;
