@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

.post-actions {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.0625rem solid $color-shadow;
  padding: 1rem 0;

  &__buttons {
    display: flex;
    gap: 0.3125rem;
    width: 180px;
    height: 30px;

  }

  &__edit textarea {
    width: 100%;
    height: 3.75rem;
    margin-bottom: 0.625rem;
  }

  &__save,
  &__cancel {
    margin-right: 0.3125rem;
  }
}

.post-actions {
  &__edit-btn {
    background: $color-lime;
    color: $color-saltpan;
    border-radius: 100px;
    // border: 1px solid #FF8E2C;
    width: 100%; 
   }

   &__delete-btn {
    background: $color-shade-orange;
    color: $color-saltpan;
    border-radius: 100px;
    border: 1px solid $color-shade-orange;
    width: 100%; 
   }
}

