@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

.profile-page {
  box-sizing: border-box;
  padding: 1rem 1rem;
  font-family: "Gupter-regular";
  background-color: $color-black;

  &__header {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $color-saltpan;
    padding-bottom: 2rem;
    gap: 8rem;
  }

  &__bio p {
    padding-top: 0;
  }
  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__username-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    .profile-page__username {
      font-size: 2rem;
      font-weight: bold;
      color: $color-saltpan;
    }

    .profile-page__follow-stats {
      display: flex;
      gap: 2rem;
      font-family: "Montserrat";

      .profile-page__follow-count {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        

        p {
          font-size: 14px;
          font-weight: bold;
          color: $color-saltpan;
          margin: 0;
          padding-top: 0; 
        }

        span {
          font-size: 0.875rem;
          color: $color-saltpan;
        }
      }
    }
  }

  &__bio-upload {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 0; 

    .profile-page__bio {
      font-size: 1rem;
      color: $color-saltpan;
      // flex: 1;
    }

    .profile-page__upload {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        background-color: $color-saltpan;
        color: $color-black;
        border-radius: 30px;
        width: 130px;
        height: 30px;
        cursor: pointer;
        font-family: "Montserrat";
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $color-black;
          color: $color-saltpan;
          border: 1px solid $color-saltpan;
        }

        &-icon {
          width: 24px;
          height: 24px;
          filter: invert(100%) brightness(100%);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;

    &__post-item {
      background-color: $color-white;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      // img {
      //   width: 100%;
      //   height: auto;
      //   object-fit: cover;
      //   border-radius: 8px;
      // }
    }
  }

  &__textarea {
    background-color: $color-saltpan;
    width: 100%;
    height: 100px;
    padding: 13px;
    border-radius: 20px;
    font-size: 13px;
    color: $color-black;
    resize: none;
    font-family: "Montserrat", sans-serif;
    outline: none;

    &:focus {
      border-color: $color-blue;
    }

    &::placeholder {
      color: $color-black;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    &-content {
      background: $color-black;
      border-radius: 20px;
      padding: 2rem;
      width: 90%;
      max-width: 400px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

      h3 {
        font-size: 14px;
        margin-bottom: 1.5rem;
        color: $color-saltpan;
        text-align: center;
        font-family: "Montserrat";
      }
    }
  }

  &__form {
    margin-top: 1.5rem;

    &-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      .profile-page__upload-label {
        display: inline-block;
        background-color: $color-black;
        color: white;
        padding: 0.75rem 1.5rem;
        border: 1px solid $color-saltpan;
        border-radius: 100px;
        text-align: center;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        font-family: "Montserrat";

        &:hover {
          background-color: $color-black;
        }
      }

      .profile-page__file-input {
        display: none;
      }

      .profile-page__file-name {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        color: $color-saltpan;
        text-align: center;
        font-family: "Montserrat";
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      .profile-page__upload-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-saltpan;
        color: $color-black;
        width: 40%;
        height: 30px;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $color-black;
          border: 1px solid $color-saltpan;
          color: $color-saltpan;
        }
      }

      .profile-page__modal-close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
        color: $color-saltpan;
        height: 30px;
        padding: 0.75rem 1.5rem;
        border: 1px solid $color-saltpan;
        border-radius: 100px;
        font-size: 13px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          background-color: $color-saltpan;
          border: 1px solid $color-black;
          color: $color-black;
        }
      }
    }
  }
}

@include tablet {
  .profile-page {
    padding: 1.5rem 1.5rem;
  }
}

@include desktop {
  .profile-page {
    padding: 2.25rem 8.75rem;
  }
}

.profile-page__post-image {
  display: flex;
}

