@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

body {
  background-color: rgb(207, 207, 207);
}
.friends-page {
  padding: 1rem;
  font-family: "Montserrat";
  margin: 0 auto;
  background-color: rgb(207, 207, 207);

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2.25rem 8.75rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    color: black;
  }

  .friends-list {
    list-style: none;
    padding: 0;

    .friend-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 0.0625rem solid  #747171;
      padding-top: 1rem;
      color: black;


      .friend-username {
        font-size: 1rem;
        font-weight: bold;
      }

      .message-button {
        width: 10.25rem;
        padding: 0.3125rem 0.625rem;
        font-size: 0.875rem;
        background-color: #005fa3;
        color: #fff;
        border: none;
        border-radius: 0.3125rem;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .error {
    color: red;
    text-align: center;
    margin-top: 1.25rem;
  }
}
