@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

body {
  background-color: $color-black;
}
.friends-page {
  padding: 1rem;
  font-family: "Montserrat";
  margin: 0 auto;
  background-color: $color-black;

  &__title {
    font-family: "Gupter-regular";
    font-size: 32px;
    display: flex;
    color: $color-saltpan;
  }

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2.25rem 8.75rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .friends-list {
    list-style: none;
    padding: 0;

    .friend-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $color-saltpan;
      padding-top: 1rem;
      color: $color-saltpan;

      .friend-username {
        font-size: 14px;
        font-weight: bold;
      }

      .message-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10.25rem;
        height: 30px;
        padding: 0.3125rem 0.625rem;
        font-size: 13px;
        font-weight: 700;
        background-color: $color-saltpan;
        color: $color-black;
        border: 1px solid $color-black;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
          background-color: $color-black;
          border: 1px solid $color-saltpan;
          color: $color-saltpan;
        }
      }
    }
  }

  .error {
    color: red;
    text-align: center;
    margin-top: 1.25rem;
  }
}
