@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;


.friends-page {
    padding: 1rem;
    font-family: "Montserrat";
    margin: 0 auto;
    @include tablet {
      padding: 1.5rem;
    }
    @include desktop {
      padding: 2.25rem 8.75rem;
    }
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .friends-list {
      list-style: none;
      padding: 0;
  
      .friend-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $color-shadow;
        padding-top: 1rem;
  
        .friend-username {
          font-size: 16px;
          font-weight: bold;
        }
  
        .message-button {
          width: 164px;
          padding: 5px 10px;
          font-size: 14px;
          background-color: #005fa3;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: #0056b3;
          }
          
        }
      }
    }
  
    .error {
      color: red;
      text-align: center;
      margin-top: 20px;
    }
  }
  